body{
    background-color: black;
    color: #ffffff;
}
.login-box{
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 5px;
}
h1{
    text-align: center;
    margin-top: 2rem;
}
h2{
    margin-top: 3rem;
    text-align: center;
    font-size: 1.3rem
}
h3{
    margin-top: 1rem;
    text-align: left;
    font-size: 1rem;
    font-style: italic;
}
textarea{
    background-color: #000000;
    color: #ffffff;
}
.conversation{
    padding: 1rem;
}
.chat-box{
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    /*max-width: 600px;*/
    /*margin: auto;*/
}
.message{
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.8rem;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    text-align: left;
    min-height: 100px;
}
.encrypted-using{
    font-style: italic;
}
.encrypted-message{
    min-height: 71px;
    background-color: #000000!important;
    color: #ffffff!important;
}
.nav-btns a{
    text-decoration: none;
}

#encrypted-key{
    color: #000;
}